---
import CustomLayout from '../../layouts/customLayout.astro';

const frontmatter = {
  title:'入门',
  header:true,
  toolbar:true
}
---

<CustomLayout frontmatter={frontmatter}>
	<div id="base">
    <div class="directory">

    </div>
    <div class="container">

    </div>
  </div>
</CustomLayout>

<style is:inline>
	
</style>
